/*
Theme Name: MegaMall
Theme URI: https://youragency.com
Description: Child theme of Twenty Twenty-Five for Mega Mall custom theme development.
Author: Your Name
Template: twentytwentyfive
Version: 1.0.0
Text Domain: megamall
*/
